<mat-card fxLayout="row"
          fxLayoutAlign="center center">
  <form [formGroup]="addStockForm" fxLayout="column" fxFlex="60">
    <mat-form-field fxLayout="column" fxFlex="50">
      <mat-label>Choose company</mat-label>
      <mat-select matInput formControlName="companyCode">
        <mat-option [value]="company.code" *ngFor="let company of companyList">{{company.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxLayout="column" fxFlex="50">
      <mat-label>Price</mat-label>
      <input matInput type="text" formControlName="price" placeholder="Ex. 1023"/>
    </mat-form-field>

    <button mat-raised-button color="accent" [disabled]="addStockForm.invalid" (click)="addStock()"> Save</button>
  </form>
</mat-card>
