<mat-card fxLayout="row"
          fxLayoutAlign="center center">
  <form [formGroup]="addCompanyForm"
        fxLayout="column" fxFlex="60">
    <mat-form-field fxLayout="column" fxFlex="50">
      <mat-label>Company Code</mat-label>
      <input matInput type="text" formControlName="code" placeholder="Ex. X123"/>
    </mat-form-field>
    <mat-form-field fxLayout="column" fxFlex="50">
      <mat-label>Company Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Ex. XXX LTD"/>
    </mat-form-field>
    <mat-form-field fxLayout="column" fxFlex="50">
      <mat-label>Company CEO</mat-label>
      <input matInput type="text" formControlName="ceo" placeholder="Ex. John Doe"/>
    </mat-form-field>
    <mat-form-field fxLayout="column" fxFlex="50">
      <mat-label>Company turnover</mat-label>
      <input matInput type="number" formControlName="turnover" placeholder="Ex. 1000000"/>
    </mat-form-field>
    <mat-form-field fxLayout="column" fxFlex="50">
      <mat-label>Company Website</mat-label>
      <input matInput type="url" formControlName="website" placeholder="Ex. www.example.com"/>
    </mat-form-field>
    <mat-form-field fxLayout="column" fxFlex="50">
      <mat-label>Company Exchange Code</mat-label>
      <input matInput type="text" formControlName="exchangeCode" placeholder="Ex. GOGL"/>
    </mat-form-field>

    <button mat-raised-button color="accent" [disabled]="addCompanyForm.invalid" (click)="addCompany()">Save</button>
  </form>
</mat-card>
