<mat-card fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card-content fxFlex="70">
    <mat-table [dataSource]="companyList">
      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef> Code</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ceo">
        <mat-header-cell *matHeaderCellDef> CEO</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ceo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="website">
        <mat-header-cell *matHeaderCellDef> Website</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.website}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="turnover">
        <mat-header-cell *matHeaderCellDef> Turnover</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.turnover}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="exchangeCode">
        <mat-header-cell *matHeaderCellDef> Exchange Code</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.exchangeCode}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
