<mat-card fxLayout="row" fxLayoutAlign="center">
  <mat-card-content fxLayout="column" fxFlex="80" fxLayoutAlign="center end">
    <form [formGroup]="companySearchForm">
      <mat-form-field>
        <mat-label>Company Code</mat-label>
        <input matInput type="text" formControlName="companyCode" placeholder="Ex. X123"/>
      </mat-form-field>
      <button mat-raised-button color="accent">Search</button>
    </form>
  </mat-card-content>
</mat-card>


<mat-card fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row">
    <h4>Company Name</h4>
  </div>
  <div fxLayout="row">
    <h4>Company Code: </h4>
  </div>
</mat-card>

<mat-card fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="stockSearchForm">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field>
        <mat-label>Form Date</mat-label>
        <input matInput [matDatepicker]="formDate"/>
        <mat-datepicker-toggle matSuffix [for]="formDate"></mat-datepicker-toggle>
        <mat-datepicker #formDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="toDate"/>
        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
        <mat-datepicker #toDate></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="accent">Search</button>
    </div>
  </form>
</mat-card>

<mat-card fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card-content fxFlex="70">
    <mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Weight</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>

<mat-card fxLayout="row" fxLayoutAlign="center center">
  <mat-card-content fxLayout="column" fxFlex="70">
    <div fxLayout="row">
      <h4>Min: </h4>
    </div>
    <div fxLayout="row">
      <h4>Max: </h4>
    </div>
    <div fxLayout="row">
      <h4>Avg: </h4>
    </div>
  </mat-card-content>
</mat-card>
